:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-50: #28292D;
  --primary-100: #2B2F3D;
  --primary-200: #232B3B;
  --primary-300: #25305B;
  --primary-400: #4285F4;
  --primary-500: #3F75FF;
  --primary-600: #3A5AB6;
  --primary-700: #3B59A6;
  --primary-800: #BED8FE;
  --primary-900: #EAF2FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url('./assets/img1.jpg');
  width: 100vw;
  min-height: 100vh;
}

h2 {
  color: var(--primary-900);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--primary-800);
  padding-bottom: 1rem;
}

p {
  color: var(--primary-900);
}
