#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  border: 1px solid #777;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul a:hover {
  color: #fff;
}

nav ul li a.active {
  font-size: 1.2rem;
  color: #eee
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
}