:root {
  font-family: 'IBM Plex Mono', sans-serif;
}

button {
  cursor: pointer;
}

#btn_tab {
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
}


p {
  font-weight: 700;
  color: #334155;
}
