#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.panel-light,
.panel-dark {
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.panel-light {
  color: #222;
  background: #fff;
  border: 1px solid #888;
}

.panel-dark {
  color: #fff;
  background-color: #0d1333;
  border: 1px solid #eee;
}

.button-light,
.button-dark {
  border: 1px solid #777;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.button-dark {
  color: #222;
  background: #fff;
}

.button-light {
  background: #0d1333;
  color: #fff;
}

